.feedbackButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #565a42;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  color: #e0ffff;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  z-index: 1;
}

.button:active {
  transform: scale(0.95);
}

.button::before {
  content: "";
  position: absolute;
  inset: -1px 15px;
  background: #f56a00;
  transition: 500ms;
  animation: rotate 4s linear infinite;
  z-index: -1;
}

.button:hover::before {
  inset: -1px;
}

.button::after {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 50%;
  background: #f2c203;
  z-index: -1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
