.details-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.details-container button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;

  max-width: 6rem;
}
.details-container ul {
  border-bottom: 1px solid black;
  padding: 1rem;
}
.details-item {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid black;
}
.image-container {
  flex-direction: column;
}
.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
