.h2 {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #ffa726, #f57c00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  text-align: center;
}
